<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="app">
      <form>
        <input type="text" name="cari" placeholder="ketikkan kata kunci" v-model="cari" />
      </form>
      <h3>
        <ul>
          <li v-for="book of caribook" :key="book.cari">{{ book.name }}</li>
        </ul>
      </h3>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
      var app = new Vue({
        el: "#app",
        data: {
          books: [{ name: "Kalkulus Dasar" }, { name: "Fisika Dasar" }, { name: "Aljabar Abstrak" }, { name: "Algoritma pemrograman" }, { name: "Aljabar Linier Elementer" }],
          cari: null,
        },

        computed: {
          caribook: function () {
            if (this.cari) {
              return this.books.filter((book) => {
                return this.cari
                  .toLowerCase()
                  .split(" ")
                  .every((v) => book.name.toLowerCase().include(v));
              });
            } else {
              return this.books;
            }
          },
        },
      });
    </script>
  </body>
</html>
